# =========================================================
# jail.local - Géré par Ansible - Ne pas modifier manuellement
# =========================================================

[DEFAULT]
ignoreip = {{ fail2ban_ignoreip | join(' ') }}
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
backend  = systemd
banaction = iptables-multiport
banaction_allports = iptables-allports

[sshd]
enabled  = true
port     = {{ ssh_port }}
filter   = sshd
logpath  = %(sshd_log)s
maxretry = {{ fail2ban_maxretry }}
bantime  = {{ fail2ban_bantime }}
