#!/bin/bash

NTFY_URL="{{ ntfy_url }}"
TOPIC="{{ ntfy_topic }}"
ACTION=$1
IP=$2
JAIL=$3
SERVER=$(cat /etc/hostname)  # ✅ Remplace hostname qui n'est pas trouvé

case "$ACTION" in
  ban)
    curl -s \
      -H "Title: 🚨 Intrusion détectée - $SERVER" \
      -H "Priority: high" \
      -H "Tags: warning,shield" \
      -d "IP $IP bannie sur $JAIL" \
      "$NTFY_URL/$TOPIC"
    ;;
  unban)
    curl -s \
      -H "Title: ✅ Débannissement - $SERVER" \
      -H "Priority: default" \
      -H "Tags: white_check_mark" \
      -d "IP $IP débannie sur $JAIL" \
      "$NTFY_URL/$TOPIC"
    ;;
esac
