# Géré par Ansible — ne pas modifier manuellement

[Definition]
actionstart =
actionstop  =
actioncheck =
actionban   = /etc/fail2ban/action.d/ntfy.sh ban   <ip> <name>
actionunban = /etc/fail2ban/action.d/ntfy.sh unban <ip> <name>
